h1{
color:red;
font-weight: 10;
letter-spacing:0.4em;
text-transform: uppercase;
text-decoration:solid;
}
h2{
color:blue;
font-weight: 100;
letter-spacing:0.4em;
text-transform: uppercase;
text-decoration: underline;
}
h3{
color:green;
font-weight: 100;
letter-spacing:0.4em;
text-transform: uppercase;
text-decoration: underline;
}